{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<section>
	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nam.</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam laudantium dolores a debitis neque est molestias dolorum adipisci ea odit quae aperiam natus assumenda, deserunt, earum, consequuntur sint! Molestiae itaque libero ea optio maiores error ipsum recusandae ullam! Unde aut sapiente cumque. Tempore alias expedita, rem dolore voluptatibus eius.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi minima a earum iste in eius reiciendis illo itaque sed magni dignissimos perferendis laudantium accusantium ducimus corporis tenetur quos provident velit numquam hic ea minus, unde perspiciatis. Veniam possimus sequi dolorum sapiente ratione non laudantium vel aliquid. Vel eligendi eum quam error aut tempora laudantium nulla, velit laboriosam, pariatur quod ipsam dolores placeat doloribus fugit perspiciatis delectus non. Sit exercitationem veniam dolorem quo consequatur impedit, voluptates, natus incidunt qui quaerat possimus doloremque quisquam consectetur optio cum repudiandae? Voluptatum sed, quaerat dolorem ducimus in ipsum fuga quasi reprehenderit quae, labore cum quod fugit facilis iusto voluptatibus possimus ratione vel temporibus excepturi accusamus doloremque beatae assumenda ad? Soluta ratione enim ipsum quam molestias blanditiis rem voluptas, facilis animi!</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio dicta delectus, excepturi beatae odit inventore doloremque assumenda provident dolores sapiente similique ex modi labore.</p>
</section>
<section>
	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nam.</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam laudantium dolores a debitis neque est molestias dolorum adipisci ea odit quae aperiam natus assumenda, deserunt, earum, consequuntur sint! Molestiae itaque libero ea optio maiores error ipsum recusandae ullam! Unde aut sapiente cumque. Tempore alias expedita, rem dolore voluptatibus eius.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi minima a earum iste in eius reiciendis illo itaque sed magni dignissimos perferendis laudantium accusantium ducimus corporis tenetur quos provident velit numquam hic ea minus, unde perspiciatis. Veniam possimus sequi dolorum sapiente ratione non laudantium vel aliquid. Vel eligendi eum quam error aut tempora laudantium nulla, velit laboriosam, pariatur quod ipsam dolores placeat doloribus fugit perspiciatis delectus non. Sit exercitationem veniam dolorem quo consequatur impedit, voluptates, natus incidunt qui quaerat possimus doloremque quisquam consectetur optio cum repudiandae? Voluptatum sed, quaerat dolorem ducimus in ipsum fuga quasi reprehenderit quae, labore cum quod fugit facilis iusto voluptatibus possimus ratione vel temporibus excepturi accusamus doloremque beatae assumenda ad? Soluta ratione enim ipsum quam molestias blanditiis rem voluptas, facilis animi!</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio dicta delectus, excepturi beatae odit inventore doloremque assumenda provident dolores sapiente similique ex modi labore.</p>
</section>
<section>
	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nam.</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam laudantium dolores a debitis neque est molestias dolorum adipisci ea odit quae aperiam natus assumenda, deserunt, earum, consequuntur sint! Molestiae itaque libero ea optio maiores error ipsum recusandae ullam! Unde aut sapiente cumque. Tempore alias expedita, rem dolore voluptatibus eius.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi minima a earum iste in eius reiciendis illo itaque sed magni dignissimos perferendis laudantium accusantium ducimus corporis tenetur quos provident velit numquam hic ea minus, unde perspiciatis. Veniam possimus sequi dolorum sapiente ratione non laudantium vel aliquid. Vel eligendi eum quam error aut tempora laudantium nulla, velit laboriosam, pariatur quod ipsam dolores placeat doloribus fugit perspiciatis delectus non. Sit exercitationem veniam dolorem quo consequatur impedit, voluptates, natus incidunt qui quaerat possimus doloremque quisquam consectetur optio cum repudiandae? Voluptatum sed, quaerat dolorem ducimus in ipsum fuga quasi reprehenderit quae, labore cum quod fugit facilis iusto voluptatibus possimus ratione vel temporibus excepturi accusamus doloremque beatae assumenda ad? Soluta ratione enim ipsum quam molestias blanditiis rem voluptas, facilis animi!</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio dicta delectus, excepturi beatae odit inventore doloremque assumenda provident dolores sapiente similique ex modi labore.</p>
</section>
{% endblock %}

{% block footer %}
<section>
	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nam.</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam laudantium dolores a debitis neque est molestias dolorum adipisci ea odit quae aperiam natus assumenda, deserunt, earum, consequuntur sint! Molestiae itaque libero ea optio maiores error ipsum recusandae ullam! Unde aut sapiente cumque. Tempore alias expedita, rem dolore voluptatibus eius.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi minima a earum iste in eius reiciendis illo itaque sed magni dignissimos perferendis laudantium accusantium ducimus corporis tenetur quos provident velit numquam hic ea minus, unde perspiciatis. Veniam possimus sequi dolorum sapiente ratione non laudantium vel aliquid. Vel eligendi eum quam error aut tempora laudantium nulla, velit laboriosam, pariatur quod ipsam dolores placeat doloribus fugit perspiciatis delectus non. Sit exercitationem veniam dolorem quo consequatur impedit, voluptates, natus incidunt qui quaerat possimus doloremque quisquam consectetur optio cum repudiandae? Voluptatum sed, quaerat dolorem ducimus in ipsum fuga quasi reprehenderit quae, labore cum quod fugit facilis iusto voluptatibus possimus ratione vel temporibus excepturi accusamus doloremque beatae assumenda ad? Soluta ratione enim ipsum quam molestias blanditiis rem voluptas, facilis animi!</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio dicta delectus, excepturi beatae odit inventore doloremque assumenda provident dolores sapiente similique ex modi labore.</p>
</section>
{% endblock %}
