{% extends "base.html.twig" %}
{% block title %}Confirmation de réinitialisation{% endblock %}
{% block main %}
<div class="container">
    <h1>Confirmation d'envoi de réinitialisation de mot de passe</h1>
    <p>Si votre adresse est connue dans notre base de données, vous allez recevoir un email vous permettant de réinitialiser votre mot de passe</p>
</div>
{% endblock %}