{% extends "base.html.twig" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block main %}
<div class="fiche">
  <h1 class="fiche__title">Mot de passe oublié</h1>
  <div class="container-small">
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <p class="d-flex justify-content-end">
      <a class="btn btn-link" href="{{ path('app_login') }}" title="Retour à la connexion">Retour à la connexion</a>
      <button class="btn btn-secondary">Valider</button>
    </p>
  {{ form_end(form) }}
  </div>
</div>
{% endblock %}