{% extends 'base.html.twig' %}

{% block title %}Hello AdminReservationController!
{% endblock %}

{% block main %}
	<h2>Réservation validées
		<span class="badge badge-pill badge-dark">{{validatedCount}}</span>
	</h2>
	<table class="table">
		<thead>
			<th>Utilisateur</th>
			<th>Document</th>
			<th>Debut - Fin</th>
			<th>Action</th>
		</thead>
		<tbody>
			{% for reservation in validated %}
				{{ include('admin/reservation/_reservationItem.html.twig') }}
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(validated) }}
	</div>
{% endblock %}
