{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block main %}
    <h1>Create new Author</h1>

    {{ include('admin/author/_form.html.twig') }}

    <a href="{{ path('author_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
