{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}

{% block main %}
    <h1>Ajouter un auteur</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('author_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
