{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block main %}
    <h1>Réserver</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
<script>
$("#reservation_beginingAt").datetimepicker({
    locale: 'en',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add(60, 'days'),
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});

$("#reservation_endingAt").datetimepicker({
    locale: 'en',
    icons: {
        time: "fa fa-clock-o",
    },
    minDate: Date.now(),
    maxDate: moment(Date.now()).add(60, 'days'),
    useCurrent: false,
    format: 'DD/MM/YYYY',
    disabledDates: [
        {% for day in disabledDays %}
             moment('{{ day|date('c') }}'),
        {% endfor %}
    ]
});


$("#reservation_beginingAt").on("change.datetimepicker", function (e) {
    $('#reservation_endingAt').datetimepicker('minDate', e.date);
});
$("#reservation_endingAt").on("change.datetimepicker", function (e) {
    $('#reservation_beginingAt').datetimepicker('maxDate', e.date);
});
</script>
{% endblock %}