<form method="post" id="delete-account" action="{{ path('account_delete') }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre compte?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {% if noBtn is not defined %}
        <button class="btn btn-outline-danger">Supprimer mon compte</button>
    {% endif %}
</form>
