{% extends 'base.html.twig' %}

{% block title %}Compte supprimé{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Compte supprimé</h1>    

    <p>Votre compte a bien été supprimé. Si vous voulez réutiliser nos service vous devrez re créé un compte.</p>
</div>
{% endblock %}
