{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Mon profil</h1>

    {{ include('site/profil/_form.html.twig') }}
</div>
{% endblock %}
