.author-list {
	&__list {
		padding: 0;
		list-style: none;
		width: 100%;
		display: block;
		column-fill: balance;
		column-width: 400px;
	}

	&__link {
		padding: 0.3em 3em;
		width: 100%;
		display: block;
	}
}