.header {
	box-shadow: 0px 1px 5px #00000040;
	.nav-item + .nav-item {
		position: relative;
	
		&::before {
			content: '';
			height: 65%;
			display: block;
			position: absolute;
			border-left: #0008 solid thin;
			top: 20%;
		}
	}

	.collapse_wrapper {
		width: 100%;
	}
	@media screen and (max-width: 992px) {
		.nav-item + .nav-item::before {
			content: none;
		}
		
		.dropdown-menu {
			background-color: transparent;
			border: none;
			color: white;
		}
		.dropdown-item {
			color: white;
		}
		.dropdown-divider {
			border-color: #e9ecef50;
		}
		.dropdown-item:hover {
			text-decoration: underline;
			background-color: transparent;
		}
		.navbar-collapse {
			max-width: 600px;
			margin: 0 auto;
		}
	}

	.nav-link.dropdown-toggle {
		appearance: none;
		-webkit-appearance: none;
		color: white;
	}
}
