


h1 {
	font-size: 2em;
}

.presentation {
  // max-width: 450px;
  margin: auto;
	color: $light;
  
	
  &__bg-image {
    width: 100%;
    height: 45vw;
    object-fit: cover;
    object-position: center;
	}
	&__img-container {
		position: relative;
		background-image: url(http://127.0.0.1:8000/build/images/sallebiblio.gif);
		width: 100%;
		height: 0;
		padding-top: 46.16%;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
	&__wrapper {
		position: relative;
		background-color: $accent;
		padding: 1em;
		z-index: 5;
		margin-bottom: 23.08%;
		
		&::before,
		&::after {
			content: '';
      width:100%;
      height: 100%;
      padding-top: 23.08%;
			position: absolute;
			left: 0;
			top: 50%;
			display: block;
			box-sizing: initial;
		}
		
		&::before {
			background-color: $accent;
			z-index: -1;
			transform: translateY(-50%) skewY(-13deg);
			box-shadow: 0 0 5px 4px $shadow,
			0 -1em 0px 1em $dark,
			0 -2em 5px 4px $shadow,
			0 1px 5px 4px $shadow;
		}
		
		&::after {
			background-color: $dark;
			z-index: -2;
			transform: translateY(-50%) skewY(13deg);
			clip-path: polygon(0 100%, 100% 0, 100% 200%, 0 200%);
			box-shadow: 0 0 5px 4px $shadow,
				0 -1em 0px 1em $dark,
				0 -2em 5px 4px $shadow,
				0 1px 5px 4px $shadow;
			width: 66%;
			right: 0;
			left: auto;
		}
	}

	&__title,
	&__sub-title{
		color: $light;
		text-align: right;
	}
	
	&__title {
		margin-top: -3em;
	}
	
	&__row {
		display: flex;
		flex-direction: column;
	}
	
	&__col-right {
		text-align: right;
		max-width: 60ch;
		margin-left: auto;
		padding: 0 15px ;
	}
	
	@media screen and (max-width: 950px)  {
		&__row {
			flex-direction: column;
		}
		&__col-right {
			padding-top: 2em;
			text-align: left;
			margin-right: auto;
		}
		&__list {
			margin: 0 auto;
			width: 100%;
			max-width: 60ch;
		}
	}
}

.contact {
	color: $dark;
	padding: 2em 1em 2em;
	display: grid;
	grid-template-columns: 2fr minmax(auto, 1fr);
	max-width: 800px;
	margin: 0 auto;

	@media screen and (max-width: 750px) {
		grid-template-columns: 1fr;

		&__left_pannel{
			article {
				width: max-content;
				max-width: 100%;
			}

			h2 {
				text-align: center;
			}

		}
		
	}
	
	&__address {
		font-style: normal;
	}
	
	&__mail {
		color: $accent;
		font-weight: bold
	}
	
	.table {		
		&__cell {
			padding: 1em 2em;
			min-width: 10ch;
		}
	}

}

.schedule {
	padding: 8% 1em 13%;
	color: $dark;
}

.randomAuthors {
	margin: 0 auto;
	position: relative;

	&::before {
		content: '';
		display: block;
		background: #d3d3d3;
		width: 0;
		height: 200%;
		padding: 10%;
		transform: skewX(-13deg) translateY(-50%);
		position: absolute;
		top: 50%;
		left: -19em;
		box-shadow: 6px 0 5px 0 #00000040;
	}

	&__wrapper {
		transform: skewX(-13deg);
		width: max-content;
		max-width: 25vw;
		position: relative;
	}

	&__title,
	&__legend {
		transform: skewX(13deg);
		padding-right: 3rem;
	}

	&__list {
		list-style: none;
		padding: 0;
	}

	&__item {
		transform: skewX(13deg);
		padding: 1em 2em;
		margin-left: -2em;
	}

	@media screen and (max-width: 750px) {
		&__wrapper,
		&__item {
			transform: none;
			max-width: 100vw;
			margin: 0 auto;
			width: auto;
		}

		&__wrapper {
			padding-top: 5em;
		}

		&__list {
			text-align: center;
		}

		&::before {
			content: none;
		}


		&__title {
			padding: 0;
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			transform: none;
		}

		&__legend {
			transform: none;
			padding: 0;
			text-align: center;
		}
	}
}

article {
	margin: auto;
	max-width: 100ch;

	@media screen and (max-width: 950px)  {
		max-width: 60ch;
	}
}