.search {
	display: flex;
	width: 80%;
	max-width: 800px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	@media screen and (max-width: 1200px) {
		max-width: 600px;
	}

	@media screen and (max-width: 992px) {
		width: 100%;
		padding: .5em 0;
	}

	&_field {
		flex-grow: 1;

		input {
			border-radius: .25rem 0 0 .25rem;
		}
	}

	&_btn {
		flex-grow: 0;
		
		button {
			border-radius: 0 .25rem .25rem 0;
			padding-left: .5rem;
			padding-right: .5rem;
		}
	}
}

.filters {
	margin: 1em auto 2em;
}

.no-results {
	display: flex;
	flex-direction: column;

	&__text {
		max-width: 50ch;
		width: 100%;
		text-align: center;
		margin: 0 auto 1em;
	}

	&__btn {
		text-align: center;
	}
}