@import "~bootstrap/scss/bootstrap";

@import "_search";
body {
	background-color: lightgray;
	display: grid;
	grid-template-areas: "header header" "nav clear" "nav main" "footer footer";
	grid-template-columns: 25ch 1fr;
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
	max-width: 80em;
	width: 100%;
	margin: auto;
	padding: 2em 1em;
}

nav {
	grid-area: nav;
}


.menu {
	&_toggle {
		scale: 0;
		position: absolute;

	}

	&-toggleable {
		overflow: hidden;
		max-height: 0px;
		transition: max-height 300ms ease-in;
	}

	input[type="checkbox"]:checked ~ .menu-toggleable {
		max-height: 100%;
	}

	&_label {
		display: flex;
		justify-content: end;
		background-color: grey;
		border-radius: 2px;
		text-align: right;

		&_text {
			max-width: 0px;
			display: inline-block;
			transition: max-width 300ms ease-in;
			white-space: nowrap;
			overflow: hidden;

		}
		&:hover>&_text {
			max-width: 100%;
		}
	}
}