@import "_variables.scss";

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome";


@import "_search";
@import "_header";
@import "_menu";
@import "_allAuthors";
@import "_home.scss";
@import "_edition.scss";
@import "_fiche.scss";


body {
	background-color: lightgray;
	min-height: 100vh;
	padding: 0;
	font-family: Arial;
	margin: 0;
	overflow-x: hidden;
}

.main {
	padding: 3.5em 1em 9em;
	margin-top: 3.5em;
	max-width: 80em;
	min-height: 70vh;
	width: 100%;
	margin: auto;
}

.footer {
	position: relative;
	color: $light;
	background-color: $dark;
	min-height: 500px;
	margin-top: 16.08%;
	padding: 0 1em;

	&::before{
		content: '';
		position: absolute;
		background-color: $dark;
		width:100%;
		height: calc(0.236 * 100vw);
		left: 0;
		display: block;
		transform: skewY(13deg) translateY(-50%);
		box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
		box-sizing: initial;
		clip-path: polygon(0 -100%, 0 100%, 100% 76%, 100% -100%);
		box-shadow: 0 0 5px 4px $shadow,
		0 -1em 0px 1em $accent,
		0 -2em 5px 4px $shadow,
		0 1px 5px 4px $shadow;
	}

	a {
		color: $light;
		font-weight: bold;
	}
}

.table__container {
	overflow-x: auto;
	.table {
		min-width: 80ch;
	}
}

.list {
	list-style: none;
	padding: 0;

	li {
		margin-bottom: .5em;
	}
}

.container-small{
	max-width: 40ch;
	margin-right: auto;
	margin-left: auto;
}

.container-medium{
	max-width: 90ch;
	margin-right: auto;
	margin-left: auto;
}

// customise the disabled style on the date picker
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  background: #eee;
  color: #6c757d;
  cursor: not-allowed;
  border-radius: 0;
}

// .main > *,
// .footer > * {
// 	max-width: 80em;
// 	width: 100%;
// 	margin: auto;
// }

.accordion > .card.overflow-visible {
	overflow: visible;
}

a {
	color: $accent;
	&:hover {
		color: $accent;
	}
}

.bg-accent {
	background-color: $accent;
	color: white;
}