@import "~bootstrap/scss/bootstrap";

@import "_search";
@import "_header";
@import "_menu";

body {
	background-color: lightgray;
	min-height: 100vh;
}

.main,
.footer {
	padding: 2em 1em;
	margin-top: 3.5em;
	max-width: 80em;
	width: 100%;
	margin: auto;
}

// .main > *,
// .footer > * {
// 	max-width: 80em;
// 	width: 100%;
// 	margin: auto;
// }