<tr class="result_item">
	<td>
		<a href="{{ path('explore_author', {'author': writer.author.id}) }}" title="Voir la bibliographie de cet auteur">{{ writer.author.name }}</a>
	</td>
	<td>
		{{ writer.participationType }}
	</td>
</tr>