<tr class="author_item">
	<td class="author_item__cell">
		<a href="{{ path('explore_author', {'author': writer.author.id}) }}" title="Voir la bibliographie de cet auteur">{{ writer.author.name }}</a>
	</td>
	<td class="author_item__cell text-right">
		{{ writer.participationType }}
	</td>
</tr>