<form method="post" id="delete-editor" action="{{ path('editor_delete', {'id': editor.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet éditeur?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editor.id) }}">
    {% if noBtn is not defined %}
        <button class="btn">Delete</button>
    {% endif %}
</form>
