{% extends 'base.html.twig' %}

{% block title %}Modifier un éditeur{% endblock %}

{% block main %}
    <h1>Modifier un éditeur</h1>

    {{ include('form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('editor_index') }}" class="btn btn-outline-secondary">Annuler</a>

    {{ include('admin/editor/_delete_form.html.twig') }}
{% endblock %}
