{% extends 'base.html.twig' %}

{% block title %}New Editor{% endblock %}

{% block main %}
    <h1>Create new Editor</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('editor_index') }}" class="btn btn-primary">Annuler</a>

{% endblock %}
