{% extends 'base.html.twig' %}

{% block title %}Modifier un Type{% endblock %}

{% block main %}
    <h1>Modifier un Type</h1>

    {{ include('_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('type_index') }}" class="btn btn-outline-secondary">Annuler</a>

    {{ include('admin/type/_delete_form.html.twig') }}
{% endblock %}
