{% extends 'base.html.twig' %}

{% block title %}Modifier un type documentaire{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche_title">Modifier un type documentaire</h1>

    {{ include('admin/type/_form.html.twig', {'button_label': 'Enregistrer', 'noBtn': true}) }}
    {{ include('admin/type/_delete_form.html.twig', {'noBtn': true}) }}

    <div class="d-flex">
        <button form="delete-type" class="btn btn-outline-danger ml-auto mr-3">Supprimer</button>
        <div class="btn-group">
            <a href="{{ path('type_index') }}" class="btn btn-outline-secondary">Annuler</a>
            <button class="btn btn-secondary" form="edit-type">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{% endblock %}
