{% extends 'base.html.twig' %}

{% block title %}Ajouter un type{% endblock %}

{% block main %}
    <h1>Ajouter un type de document</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('type_index') }}" class="btn btn-primary">Annuler</a>
{% endblock %}
