{% extends 'base.html.twig' %}

{% block title %}Ajouter une édition{% endblock %}

{% block main %}
    <h1>Ajouter une édition</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('edition_index') }}">Annuler</a>
{% endblock %}

{% block javascripts %}
<script>
$("#edition_publishedAt").datetimepicker({
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
    },
    format: 'DD/MM/YYYY',
    maxDate: Date.now()
});
</script>
{% endblock %}
