{% block main %}
{{ form_start(form, {
	'attr' : {
		'class' : 'search'
	}
	}) }}
	<div class="search_field">
		{{ form_widget(form.search) }}
	</div>
	<div class="search_btn">
		<button class="btn btn-primary btn-block" type="submit">Rechercher</button>
	</div>
{{ form_end(form) }}
{% endblock %}