{{ form_start(form, {'attr': {'id': 'edit-participationType"'}}) }}
    {{ form_widget(form) }}
    {% if noBtn is not defined %}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {% endif %}
{{ form_end(form) }}
