{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de participation{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Ajouter un type de participation</h1>

    {{ include('participation_type/_form.html.twig', { 'noBtn': true }) }}

    <div class="d-flex">
        <div class="btn-group ml-auto">
            <a href="{{ path('participation_type_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
            <button form="edit-participationType" class="btn btn-secondary">Enregistrer</button>
        </div>
    </div>
</div>
{% endblock %}
