{% extends 'base.html.twig' %}

{% block title %}Modifier un fond{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Modifier un fond</h1>

    {{ include('admin/fond/_form.html.twig', {'button_label': 'Enregistrer', 'noBtn': true}) }}

    {{ include('admin/fond/_delete_form.html.twig', {'noBtn': true}) }}

    <div class="d-flex">
        <button form="delete-fond" class="btn btn-outline-danger ml-auto mr-3">Supprimer</button>
        <div class="btn-group">
            <a href="{{ path('fond_index') }}" class="btn btn-outline-secondary">Annuler</a>
            <button class="btn btn-secondary" form="edit-fond">Enregistrer</button>
        </div>
    </div>
</div>
{% endblock %}
