{% extends 'base.html.twig' %}

{% block title %}New Fond{% endblock %}

{% block main %}
    <h1>Create new Fond</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('fond_index') }}" class="btn btn-primary">Annuler</a>
{% endblock %}
