{% extends 'base.html.twig' %}

{% block title %}Ajouter un fond{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Ajouter un fond</h1>

    {{ include('admin/fond/_form.html.twig', {'button_label': 'Enregistrer', 'noBtn': true}) }}

    <div class="d-flex">
        <div class="btn-group ml-auto">
            <a href="{{ path('fond_index') }}" class="btn btn-outline-secondary">Annuler</a>
            <button class="btn btn-secondary" form="edit-fond">Enregistrer</button>
        </div>
    </div>
</div>
{% endblock %}
