{% extends 'base.html.twig' %}
{% block main %}
<h1>Oups! Cette page ne vous est pas accessible</h1>
<p>Si vous avez un compte et que vous essayez d'acceder a vos informations personnelles vous devez d'abord vous connecter. Si vous etes deja connecté il se peut aue vous n'ayez pas le droit d'acceder à cette page</p>
<p class="btn-group" role="group" aria-label="Liste des actions disponibles">
	<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
	<a href="{{ path('site') }}" class="btn btn-primary">Retourner à la page d'accueil</a>
</p>
{% endblock %}