{% extends 'base.html.twig' %}
{% block main %}
<h1>Oups! Cette page semble ne pas exister.</h1>
<p>La pge que vous rechercher ne peut etre trouvée. Verifier que vous ne vous etes pas trompé dans l'URL, si vous etes arrivé ici en suivant un lien présent sur le site merci de nous le signaler.</p>
<p><a href="{{ path('site') }}" class="btn btn-secondary">Retourner à la page d'accueil</a></p>
{% endblock %}