<h1>Reinitilisez votre mot de passe?</h1>
<p>
	Si vous avez demandé une réinitialisation de votre mot de passe cliquez sur le bouton, si la demande ne vient pas de vous, vous pouvez ignorer cet email.
</p>
<a href="{{absolute_url(path('app_change_psw', {'token': token} ))}}" class="btn btn-secondary">Réinitialiser mon mot de passe</a>

<p>
--<br>
Cordialement.
</p>
</p>