{% extends 'base.html.twig' %}

{% block title %}Modifier une collection{% endblock %}

{% block main %}
    <h1>Modifier une collection</h1>

    {{ include('_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('collec_index') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('collec/_delete_form.html.twig') }}
{% endblock %}
