{% extends 'base.html.twig' %}

{% block title %}Ajouter une collection{% endblock %}

{% block main %}
<div class="fiche">
    <h1 class="fiche__title">Modifier une collection</h1>

    {{ include('admin/collec/_form.html.twig', {'noBtn': true}) }}

    <div class="row">
        <div class="btn-group ml-auto">
            <a href="{{ path('collec_index') }}" class="btn btn-outline-secondary">Annuler</a>
            <button class="btn btn-secondary" form="edit-collec">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>   
{% endblock %}
